body {
  font-family: "Lucida Grande","Lucida Sans Unicode","Arial";
  font-size: 11px;
  background-color: #191919;
}  

.background {
  font-family: "Lucida Grande","Lucida Sans Unicode","Arial";
  color: #697070;
  font-size: 11px;
  background-color: #191919;
}

.navbar-default {
background-color: #191919;
border-color: #191919;
}

.btn-primary {
color: #fff;
background-color: #434C4C;
border-color: #434C4C;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
color: #fff;
background-color: #697070;
border-color: #697070;
}

.row {
  padding: 12px;
}

img {
  width: 100%;
  border-radius: 0;
}

h1 {
  font-size:20px;
}

ul {
  list-style-type: none;
}