body {
  font-family: "Lucida Grande","Lucida Sans Unicode","Arial";
  font-size: 11px;
}  

.background {
  font-family: "Lucida Grande","Lucida Sans Unicode","Arial";
  color: white;
  background-color: #191919;
}

.jumbotron {
    font-family: helvetica neue, arial, sans-serif;
    margin-bottom: 0px;
    background-image: url(images/myanmar.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.navbar-default {
background-color: #191919;
border-color: #191919;
}

.btn-primary {
color: #fff;
background-color: #434C4C;
border-color: #434C4C;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
color: #fff;
background-color: #697070;
border-color: #697070;
}

.row {
  padding: 12px;
}

img {
  width: 100%;
  border-radius: 0;
}