body {
  width: 960px;
  margin: 0 auto;
  font-family: 'Montserrat', helvetica neue, arial, sans-serif;
  color: white;
  background-color: black;
  background-image: url(../images/sequoia.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
h2 {
  border-bottom: 1px solid gray;
}
a { 
  color: orange;
}
a:hover {
  color: purple;
}
p, li { 
  font-size: 16px;
  line-height: 24px;
}
img {
  float: right;
  width: 50%;
}
#title {
  float: left;
  color: grey;
}
#travel {
  float: left;
  clear: both;
  background-color: black;
  color: gray;
  padding: 20px;
  border: 1px solid black;
  margin-top: 20px;
}
#BigSur {
  float: right;
}

}
#Sealions {
  float: right;
}

}
#SDB {
  float: right;
}